<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
             
                <a href="/students/home">HomeDashboard</a> |
                <a href="/students/insert">InsertUser</a> |
                <a href="/students/display">DisplayUser</a> |
                <a href="/students/task">Display Task</a> 
                

            
    <h1>Home Page</h1>
    <hr size="5"  color="red">

    
  

</body>
</html>