<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="blue">
    
   
                <a href="/students/home">Home Dashboard</a> |
                <a href="/students/insert">Insert User</a> |
                <a href="/students/display">Display User</a> |
                <a href="/students/task">Display Task</a> 
            

    <h1>Insert Page</h1>
    <hr size="5"  color="red">

    <form method="post" action="/students/save">
        Enter Name : <input type="text" name="name"/><br>
        Enter Email : <input type="text" name="email"/><br/>
        Enter Number : <input type="text" name="number"/><br/>
        Enter City : <input type="text" name="city"/><br/>
        <button>save</button>
    </form>
</body>
</html>